@page
@model CourseManagement.Areas.Teacher.Pages.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Teacher/Pages/Shared/_TeacherLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.QContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.QContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Opt1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Opt1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Opt2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Opt2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Opt3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Opt3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Opt4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Opt4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Correctans)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Correctans)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Question?.Qid">Edit</a> |
    <a href="javascript:history.back()">Back to List</a>

</div>
