@page
@model CourseManagement.Areas.Teacher.Pages.Assignments.QuestionsInAssignment.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Teacher/Pages/Shared/_TeacherLayout.cshtml";
}

<h1>Questions for Assignment @Model.AssignmentId</h1>

<p>
    <a asp-page="Create" asp-route-assignmentId="@Model.AssignmentId" class="btn btn-primary">Add New Question</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Question</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AssignmentQuestions)
        {
            <tr>
                <td>
                    <a asp-page="/Questions/Details" asp-route-id="@item.Question.Qid">@item.Question.Qid</a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-assignmentId="@item.AssignmentId" asp-route-questionId="@item.QuestionId" class="btn btn-info btn-sm">Edit</a>
                    <a asp-page="./Delete" asp-route-assignmentId="@item.AssignmentId" asp-route-questionId="@item.QuestionId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    /* Style to ensure buttons are consistent in size */
    .btn-sm {
        width: 70px; /* Adjust the width as needed */
        margin-right: 5px; /* Optional: add some space between buttons */
    }
</style>
