@page
@model CourseManagement.Areas.Teacher.Pages.Assignments.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Teacher/Pages/Shared/_TeacherLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].AssignmentTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Assignment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.AssignmentId" class="btn btn-info">Edit</a>
                    <a asp-page="Details" asp-route-id="@item.AssignmentId" class="btn btn-secondary">Details</a>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@item.AssignmentId" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>
